<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<appSettingsWrapper>
    <hashtable>
        <entry>
            <key>printerPort</key>
            <value>COM1</value>
        </entry>
        <entry>
            <key>bd</key>
            <value>C:\EclipseProject\git\second\TouchShowcase\bd\Showcase</value>
        </entry>
        <entry>
            <key>scalePort</key>
            <value>COM1</value>
        </entry>
        <entry>
        	<key>ftpDir</key>
        	<value>C:\EclipseProject\ftpdir</value></entry>
        <entry>
        	<key>localGoodsImageDir</key>
        	<value>picts/goods</value></entry>
        <entry>
        	<key>localProgramDir</key>
        	<value>/TS</value></entry></hashtable>
</appSettingsWrapper>
